openapi: 3.0.0
info:
  title: Static Website Creation API
  description: This API allows users to create a multi-page static website by uploading HTML/CSS content in JSON format.
  version: 1.0.0
servers:
  - url: https://pixel-puuurfect-gpt---3-9jr8qezw.uc.gateway.dev
    description: Main API server
paths:
  /:
    post:
      operationId: upload_static_site
      summary: Creates a static website from provided HTML/CSS content.
      description: This endpoint accepts HTML/CSS content in JSON format to generate a multi-page static website.
      x-openai-isConsequential: false
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                index:
                  type: string
                  description: Content of index.html.
                styles:
                  type: string
                  description: Content of styles.css containing all shared styles.
                files:
                  type: object
                  additionalProperties:
                    type: string
                  description: Key/value pairs for each additional page, with the file name as the key and content as the value.
      responses:
        "200":
          description: Website successfully created.
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    description: URL to access the created static website.
        "400":
          description: Invalid request.
        "401":
          description: Unauthorized access - invalid API key.

